[submodule "crunchymedia"]
	url    = git@github.com:reanimatedmanx/crunchymedia.git
	path   = crunchymedia
	branch = main
[submodule "ria-book-store-app"]
	url    = git@github.com:reanimatedmanx/ria-book-store-app.git
	path   = ria-book-store-app
	branch = main
[submodule "rock-paper-scissors"]
	path = rock-paper-scissors
	url = git@github.com:reanimatedmanx/rock-paper-scissors.git
[submodule "kws-crypto-listing"]
	path = kws-crypto-listing
	url = git@github.com:reanimatedmanx/kws-crypto-listing.git
